.cache
test-work
/out/
.DS_Store
_book
dependency-reduced-pom.xml
.gradle
/.gradle/
LOG_FILE_IS_UNDEFINED

# Editor directories and files
.settings
target
build
.classpath
.project
*.iml
*/*.iml
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.tar
*.tar.gz
pom.xml.versionsBackup

# codes
gen

# buildTools
/package/build/

# run data dir.
/backend/logs
/backend/data
/backend/install_upgrade.log

# test artifacts
/backend/clouddm-utils/cg-utils/test.dat

# web
frontend/node_modules
frontend/dist
frontend/package-lock.json

/data
/logs
install_upgrade.log
/dist
*.override.md
*.local.md

.claude