<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clougence.clouddm.platform.dal.mapper.approval.DmApprovalMapper">

    <resultMap id="DmApprovalDO" type="com.clougence.clouddm.platform.dal.model.approval.DmApprovalDO">
        <result column="id" property="id"/>
        <result column="biz_id" property="bizId"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="owner_uid" property="ownerUid"/>
        <result column="bind_ds_id" property="bindDsId"/>
        <result column="target_info" property="targetInfo"/>
        <result column="appro_type" property="approType" typeHandler="com.clougence.clouddm.platform.dal.handler.enums.RdpApprovalTypeHandler"/>
        <result column="appro_biz" property="approBiz"/>
        <result column="appro_identity" property="approIdentity"/>
        <result column="appro_template_name" property="approTemplateName"/>
        <result column="appro_template_identity" property="approTemplateIdentity"/>
        <result column="appro_comment" property="approComment"/>
        <result column="description" property="description"/>
        <result column="status_message" property="statusMessage"/>
        <result column="ticket_title" property="ticketTitle"/>
        <result column="ticket_status" property="ticketStatus"/>
        <result column="finish_time" property="finishTime"/>
        <result column="deleted" property="deleted"/>
        <result column="env_name" property="envName"/>
        <result column="primary_uid" property="primaryUid"/>
        <result column="approval_url" property="approvalUrl"/>
        <result column="raw_sql" property="rawSql"/>
        <result column="content_type" property="contentType"/>
        <result column="expected_affected_rows" property="expectedAffectedRows"/>
        <result column="roll_back_sql" property="rollBackSql"/>
        <result column="ticket_info" property="ticketInfo"/>
        <result column="levels" property="levels"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result column="features" property="features"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
    </resultMap>

    <sql id="all_ticket_col">
        id,
        biz_id,
        gmt_create,
        gmt_modified,
        owner_uid,
        bind_ds_id,
        target_info,
        appro_type,
        appro_biz,
        appro_identity,
        appro_template_name,
        appro_template_identity,
        appro_comment,
        description,
        status_message,
        ticket_title,
        ticket_status,
        finish_time,
        deleted,
        primary_uid,
        env_name,
        approval_url,
        raw_sql,
        content_type,
        expected_affected_rows,
        roll_back_sql,
        ticket_info,
        levels,
        features
    </sql>

    <!--   =============================== ========================================================================-->

    <update id="updateStatusByEnum">
        update
            dm_approval
        set
            ticket_status  = #{ticketStatus},
            status_message = #{statusMessage},
            gmt_modified   = now()
            <if test="ticketStatus.name() == 'REJECTED' || ticketStatus.name() == 'FINISHED' || ticketStatus.name() == 'CLOSED' || ticketStatus.name() == 'CANCELED'">,finish_time = now()</if>
        where
            id = #{ticketId}
    </update>

    <update id="updateModified">
        update
            dm_approval
        set
            gmt_modified = now()
        where
            id = #{id}
    </update>

    <update id="updateThirdApprovalInfo">
        update
            dm_approval
        set
            appro_identity = #{approvalIdentity},approval_url = #{url}
        where id = #{ticketId}
    </update>
    <update id="updateComment">
        update
            dm_approval
        set
            appro_comment = #{comment}
        where id = #{ticketId}
    </update>

    <update id="updateTicketInfo">
        update
            dm_approval
        set ticket_info = #{ticketInfo}
        where id = #{ticketId}
    </update>

    <update id="updateExpectedAffectedRows">
        update
            dm_approval
        set expected_affected_rows = #{expectedAffectedRows}
        where id = #{ticketId}
    </update>

    <select id="queryByBizId" resultMap="DmApprovalDO">
        select
            <include refid="all_ticket_col"/>
        from
            dm_approval
        <where>
            biz_id = #{bizId}
        and
            deleted = false
        </where>
    </select>

    <select id="queryByBizIdWithoutRawSql" resultMap="DmApprovalDO">
        select
            id,
            biz_id,
            owner_uid,
            primary_uid,
            content_type,
            expected_affected_rows,
            roll_back_sql,
            ticket_info,
            features
        from
            dm_approval
        <where>
            biz_id = #{bizId}
        and
            deleted = false
        </where>
    </select>

    <select id="queryById" resultMap="DmApprovalDO">
        select
            <include refid="all_ticket_col"/>
        from
            dm_approval
        <where>
            id = #{id}
        and
            deleted = false
        </where>
    </select>

    <select id="listTicketByConditionAndPage" resultMap="DmApprovalDO">
        select
        <include refid="all_ticket_col"/>
        from
        dm_approval
        <where>
        <if test="ticketQuery.uids != null and ticketQuery.uids.size() >0"> AND owner_uid in <foreach collection="ticketQuery.uids" item="item" separator="," open="(" close=")">#{item}</foreach></if>
        <if test="ticketQuery.startTime != null"><![CDATA[ AND gmt_create > #{ticketQuery.startTime} ]]></if>
        <if test="ticketQuery.endTime != null"><![CDATA[ AND gmt_create < #{ticketQuery.endTime} ]]></if>
        <if test="ticketQuery.ticketId != null"><![CDATA[ AND id = #{ticketQuery.ticketId} ]]></if>
        <if test="ticketQuery.ticketBizId != null"><![CDATA[ AND biz_id = #{ticketQuery.ticketBizId} ]]></if>
        <if test="ticketQuery.ticketTitleName != null"><![CDATA[ AND ticket_title LIKE concat('%',#{ticketQuery.ticketTitleName},'%') ]]></if>
        <if test="ticketQuery.ticketStatus != null"><![CDATA[ AND ticket_status =#{ticketQuery.ticketStatus,javaType=com.clougence.clouddm.platform.dal.model.approval.ApprovalStatus} ]]></if>
        <if test="ticketQuery.dsIds != null and ticketQuery.dsIds.size() >0"> AND bind_ds_id in <foreach collection="ticketQuery.dsIds" item="item" separator="," open="(" close=")">#{item}</foreach></if>
        and primary_uid = #{puid}
        and deleted = false
        </where>
        order by
        gmt_create desc
    </select>

    <select id="listConfirmTicketByConditionAndPage" resultMap="DmApprovalDO">
        select
        a.id,
        a.biz_id,
        a.gmt_create,
        a.gmt_modified,
        a.owner_uid,
        a.bind_ds_id,
        a.target_info,
        a.appro_type,
        a.appro_biz,
        a.appro_identity,
        a.appro_template_name,
        a.appro_template_identity,
        a.appro_comment,
        a.description,
        a.status_message,
        a.ticket_title,
        a.ticket_status,
        a.finish_time,
        a.deleted,
        a.primary_uid,
        a.env_name,
        a.approval_url,
        a.raw_sql,
        a.content_type,
        a.expected_affected_rows,
        a.roll_back_sql,
        a.ticket_info,
        a.levels,
        a.features
        from
        dm_approval a
        left join dm_approval_person b on a.biz_id = b.ticket_bz_id
        <where>
        <if test="ticketQuery.uids != null and ticketQuery.uids.size() >0"> AND a.owner_uid in <foreach collection="ticketQuery.uids" item="item" separator="," open="(" close=")">#{item}</foreach></if>
        <if test="ticketQuery.startTime != null"><![CDATA[ AND a.gmt_create > #{ticketQuery.startTime} ]]></if>
        <if test="ticketQuery.endTime != null"><![CDATA[ AND a.gmt_create < #{ticketQuery.endTime} ]]></if>
        <if test="ticketQuery.ticketId != null"><![CDATA[ AND a.id = #{ticketQuery.ticketId} ]]></if>
        <if test="ticketQuery.ticketBizId != null"><![CDATA[ AND a.biz_id = #{ticketQuery.ticketBizId} ]]></if>
        <if test="ticketQuery.ticketTitleName != null"><![CDATA[ AND a.ticket_title LIKE concat('%',#{ticketQuery.ticketTitleName},'%') ]]></if>
        <if test="ticketQuery.ticketStatus != null"><![CDATA[ AND a.ticket_status =#{ticketQuery.ticketStatus,javaType=com.clougence.clouddm.platform.dal.model.approval.ApprovalStatus} ]]></if>
        <if test="ticketQuery.dsIds != null and ticketQuery.dsIds.size() >0"> AND a.bind_ds_id in <foreach collection="ticketQuery.dsIds" item="item" separator="," open="(" close=")">#{item}</foreach></if>
        <if test="ticketQuery.approvalPersonUid != null"><![CDATA[ AND b.person_uid = #{ticketQuery.approvalPersonUid} ]]></if>
        and a.deleted = false
        and a.ticket_status in ('WAIT_CONFIRM','WAIT_APPROVAL','WAIT_EXEC')
        </where>
        group by
            a.id
        order by
            a.gmt_create desc
    </select>

    <select id="statTicketByDs" resultType="com.clougence.clouddm.platform.dal.model.approval.DmTicketStatRow">
        select
            bind_ds_id as bindDsId,
            ticket_status as status,
            count(*) as cnt
        from
        dm_approval
        <where>
        primary_uid = #{puid}
        and deleted = false
        and bind_ds_id is not null
        <if test="ticketQuery.startTime != null"><![CDATA[ AND gmt_create > #{ticketQuery.startTime} ]]></if>
        <if test="ticketQuery.endTime != null"><![CDATA[ AND gmt_create < #{ticketQuery.endTime} ]]></if>
        <if test="ticketQuery.ticketStatus != null"><![CDATA[ AND ticket_status =#{ticketQuery.ticketStatus,javaType=com.clougence.clouddm.platform.dal.model.approval.ApprovalStatus} ]]></if>
        <if test="ticketQuery.dsIds != null and ticketQuery.dsIds.size() >0"> AND bind_ds_id in <foreach collection="ticketQuery.dsIds" item="item" separator="," open="(" close=")">#{item}</foreach></if>
        </where>
        group by bind_ds_id, ticket_status
        order by cnt desc
    </select>

    <select id="listTicketExportRows" resultType="com.clougence.clouddm.platform.dal.model.approval.DmTicketExportRow">
        select
            id,
            ticket_title as ticketTitle,
            bind_ds_id as bindDsId,
            gmt_create as gmtCreate,
            ticket_status as status,
            raw_sql as rawSql,
            roll_back_sql as rollBackSql
        from
        dm_approval
        <where>
        primary_uid = #{puid}
        and deleted = false
        and raw_sql is not null
        <if test="ticketQuery.startTime != null"><![CDATA[ AND gmt_create > #{ticketQuery.startTime} ]]></if>
        <if test="ticketQuery.endTime != null"><![CDATA[ AND gmt_create < #{ticketQuery.endTime} ]]></if>
        <if test="ticketQuery.ticketStatus != null"><![CDATA[ AND ticket_status =#{ticketQuery.ticketStatus,javaType=com.clougence.clouddm.platform.dal.model.approval.ApprovalStatus} ]]></if>
        <if test="ticketQuery.dsIds != null and ticketQuery.dsIds.size() >0"> AND bind_ds_id in <foreach collection="ticketQuery.dsIds" item="item" separator="," open="(" close=")">#{item}</foreach></if>
        <if test="ticketQuery.ticketId != null"><![CDATA[ AND id = #{ticketQuery.ticketId} ]]></if>
        </where>
        order by gmt_create desc
    </select>

    <select id="queryByApproIdentity" resultMap="DmApprovalDO">
        select
        <include refid="all_ticket_col"/>
        from
        dm_approval
        <where>
            appro_identity = #{approIdentity}
            and appro_type = #{type}
            and deleted = false
            <if test="puid != null"> and primary_uid = #{puid} </if>
        </where>
    </select>


    <select id="selectByIdForUpdate" resultMap="DmApprovalDO">
        select
            <include refid="all_ticket_col"/>
        from dm_approval
        where id = #{ticketId}
        for update
    </select>
    <select id="listUnFinishTicketIdList" resultType="java.lang.Long">
        select
            id
        from dm_approval
        where ticket_status in('PRE_INIT_WAIT','PRE_INIT_RUN','WAIT_APPROVAL','WAIT_CONFIRM','WAIT_EXEC','RUNNING','EXEC_FAIL')
        and date_sub(now(), interval 5 second) >= gmt_modified
        order by gmt_modified asc
        limit 20
    </select>

    <select id="listAuthTicketByConditionAndPage" resultMap="DmApprovalDO">
        select
        <include refid="all_ticket_col"/>
        from
        dm_approval
        <where>
            <if test="ticketQuery.uids != null and ticketQuery.uids.size() >0"> AND owner_uid in <foreach collection="ticketQuery.uids" item="item" separator="," open="(" close=")">#{item}</foreach></if>
            <if test="ticketQuery.startTime != null"><![CDATA[ AND gmt_create > #{ticketQuery.startTime} ]]></if>
            <if test="ticketQuery.endTime != null"><![CDATA[ AND gmt_create < #{ticketQuery.endTime} ]]></if>
            <if test="ticketQuery.ticketTitleName != null"><![CDATA[ AND ticket_title LIKE concat('%',#{ticketQuery.ticketTitleName},'%') ]]></if>
            <if test="ticketQuery.ticketStatus != null"><![CDATA[ AND ticket_status =#{ticketQuery.ticketStatus,javaType=com.clougence.clouddm.platform.dal.model.approval.ApprovalStatus} ]]></if>
            and appro_biz = 'DATA_SOURCE_AUTH'
            and deleted = false
        </where>
        order by
        gmt_create desc
    </select>


</mapper>
