<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clougence.clouddm.platform.dal.mapper.cicd.DmChangeItemMapper">
    <resultMap id="dmChangeItemDO" type="com.clougence.clouddm.platform.dal.model.cicd.DmChangeItemDO">
        <result column="id" property="id"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="owner_uid" property="ownerUid"/>
        <result column="ref_flow_id" property="refFlowId"/>
        <result column="ref_change_id" property="refChangeId"/>
        <result column="ref_change_item_type" property="refChangeItemType"
                javaType="com.clougence.clouddm.platform.dal.model.cicd.ChangeItemType"/>
        <result column="content_name" property="contentName"/>
        <result column="content_index" property="contentIndex"/>
        <result column="content" property="content"/>
    </resultMap>
    <sql id="dmChangeItemColumns">
        id
        , gmt_create, gmt_modified, owner_uid, ref_flow_id, ref_change_id, ref_change_item_type,
        content_name, content_index, content
    </sql>
    <select id="queryChangeItemByChangeId" resultMap="dmChangeItemDO">
        SELECT
            <include refid="dmChangeItemColumns"/>
        FROM
            dm_change_item
        WHERE
            owner_uid            = #{ownerUid}
            AND
            ref_change_id        = #{refChangeId}
            AND
            ref_change_item_type = #{itemType}
        ORDER BY content_index ASC
    </select>
    <select id="queryChangeItemByChangeIds" resultMap="dmChangeItemDO">
        SELECT
            <include refid="dmChangeItemColumns"/>
        FROM
            dm_change_item
        WHERE
            owner_uid            = #{ownerUid}
            AND
            ref_change_item_type = #{itemType}
            AND
            ref_change_id        IN
        <foreach collection="refChangeIds" item="refChangeId" separator="," open="(" close=")">
            #{refChangeId}
        </foreach>
        ORDER BY ref_change_id ASC, content_index ASC
    </select>
    <select id="queryChangeItemMetaByChangeId" resultMap="dmChangeItemDO">
        SELECT
            id, gmt_create, gmt_modified, owner_uid, ref_flow_id,
            ref_change_id, ref_change_item_type, content_name, content_index
        FROM
            dm_change_item
        WHERE
            owner_uid            = #{ownerUid}
            AND
            ref_change_id        = #{refChangeId}
            AND
            ref_change_item_type = #{itemType}
        ORDER BY content_index ASC
    </select>
    <select id="queryChangeItemByName" resultMap="dmChangeItemDO">
        SELECT
            <include refid="dmChangeItemColumns"/>
        FROM
            dm_change_item
        WHERE
            owner_uid            = #{ownerUid}
            AND
            ref_change_id        = #{refChangeId}
            AND
            ref_change_item_type = #{itemType}
            AND
            content_name         = #{contentName}
        LIMIT 1
    </select>
    <select id="queryBaselineItemByFlowId" resultMap="dmChangeItemDO">
        SELECT
            id, gmt_create, gmt_modified, owner_uid, ref_flow_id,
            #{changeId} AS ref_change_id, 'SQL' AS ref_change_item_type,
            content_name, content_index, content
        FROM
            dm_change_flow_item
        WHERE
            owner_uid   = #{ownerUid}
            AND
            ref_flow_id = #{flowId}
        ORDER BY content_index ASC
    </select>
    <delete id="deleteByChangeItemType">
        DELETE
        FROM
            dm_change_item
        WHERE
            owner_uid            = #{ownerUid}
            AND
            ref_change_id        = #{refChangeId}
            AND
            ref_change_item_type = #{itemType}
    </delete>
    <delete id="deleteByChangeItemAll">
        DELETE
        FROM
            dm_change_item
        WHERE
            owner_uid     = #{ownerUid}
            AND
            ref_change_id = #{refChangeId}
    </delete>
</mapper>
