<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clougence.clouddm.platform.dal.mapper.datasource.DmDsMapper">

    <resultMap id="rdpDataSourceDO" type="com.clougence.clouddm.platform.dal.model.datasource.DmDsDO">
        <result column="id" property="id"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="uid" property="uid"/>
        <result column="owner" property="owner"/>
        <result column="data_source_type" property="dataSourceType"
                javaType="com.clougence.clouddm.base.metadata.ds.DataSourceType"/>
        <result column="host" property="host"/>
        <result column="instance_desc" property="instanceDesc"/>
        <result column="version" property="version"/>
        <result column="driver" property="driver"/>
        <result column="instance_id" property="instanceId"/>
        <result column="access_key" property="accessKey"/>
        <result column="secret_key" property="secretKey"/>
        <result column="security_type" property="securityType"
                javaType="com.clougence.clouddm.base.metadata.ds.SecurityType"/>
        <result column="life_cycle_state" property="lifeCycleState"
                javaType="com.clougence.clouddm.platform.dal.model.LifeCycleState"/>
        <result column="status" property="status"
                javaType="com.clougence.clouddm.platform.dal.model.datasource.DataSourceStatus"/>
        <result column="status_message" property="statusMessage"/>
        <result column="bind_cluster_id" property="bindClusterId"/>
        <result column="ds_env_id" property="dsEnvId"/>
    </resultMap>

    <sql id="rdpDataSource">
        id,
        gmt_create,
        gmt_modified,
        uid,
        owner,
        data_source_type,
        host,
        instance_desc,
        version,
        driver,
        instance_id,
        access_key,
        secret_key,
        security_type,
        life_cycle_state,
        status,
        status_message,
        bind_cluster_id,
        ds_env_id
    </sql>

    <sql id="rdpDataSourceIdentity">
        id,
        gmt_create,
        gmt_modified,
        uid,
        owner,
        data_source_type,
        host,
        instance_desc,
        version,
        ds_env_id,
        instance_id
    </sql>

    <select id="listByUser" resultMap="rdpDataSourceDO">
        SELECT
            <include refid="rdpDataSourceIdentity"/>
        FROM
            dm_ds
        WHERE
            uid = #{uid} and
            life_cycle_state != 'DELETED'
        ORDER BY
            data_source_type asc
    </select>

    <select id="listByUserWithGmtOrder" resultMap="rdpDataSourceDO">
        SELECT
            <include refid="rdpDataSourceIdentity"/>
        FROM
            dm_ds
        WHERE
            uid = #{uid} and
            life_cycle_state != 'DELETED'
        ORDER BY
            gmt_create DESC
    </select>

    <select id="listByUidAndEnvId" resultMap="rdpDataSourceDO">
        SELECT
            <include refid="rdpDataSourceIdentity"/>
        FROM
            dm_ds
        WHERE
            life_cycle_state != 'DELETED' and
            ds_env_id = #{envId} and
            uid = #{uid}
        ORDER BY data_source_type asc
    </select>

    <select id="listByDsIdsAndEnvId" resultMap="rdpDataSourceDO">
        SELECT
            <include refid="rdpDataSourceIdentity"/>
        FROM
            dm_ds
        WHERE
            life_cycle_state != 'DELETED' and
            ds_env_id = #{envId} and
            id in <foreach collection="ids" item="item" separator="," open="(" close=")">#{item}</foreach>
        ORDER BY data_source_type asc
    </select>

    <select id="queryDsIdentityById" resultMap="rdpDataSourceDO">
        SELECT
            <include refid="rdpDataSourceIdentity"/>
        FROM
            dm_ds
        WHERE
            id=#{id}
    </select>

    <select id="listByDesc" resultMap="rdpDataSourceDO">
        SELECT
            <include refid="rdpDataSource"/>
        FROM
            dm_ds
        WHERE
            life_cycle_state != 'DELETED'
        and
            instance_desc like CONCAT('%',#{dataSourceDesc},'%')
        ORDER BY gmt_create DESC
    </select>

    <select id="listByIdsIncludeDeleted" resultMap="rdpDataSourceDO">
        SELECT
            <include refid="rdpDataSource"/>
        FROM
            dm_ds
        WHERE
            id IN <foreach collection="ids" item="item" separator="," open="(" close=")">#{item}</foreach>
        ORDER BY gmt_create DESC
    </select>

    <select id="listByIds" resultMap="rdpDataSourceDO">
        SELECT
            <include refid="rdpDataSource"/>
        FROM
            dm_ds
        WHERE
            life_cycle_state != 'DELETED'
        AND
            id IN <foreach collection="ids" item="item" separator="," open="(" close=")">#{item}</foreach>
        ORDER BY gmt_create DESC
    </select>

    <select id="queryByOwnerAndId" resultMap="rdpDataSourceDO">
        SELECT
            <include refid="rdpDataSource"/>
        FROM
            dm_ds
        WHERE
            uid = #{ownerUid} AND id = #{dataSourceId}
        LIMIT 1
    </select>

    <select id="listByOwnerAndIds" resultMap="rdpDataSourceDO">
        SELECT
            <include refid="rdpDataSource"/>
        FROM
            dm_ds
        WHERE
            uid = #{ownerUid} AND id IN <foreach collection="ids" item="item" separator="," open="(" close=")">#{item}</foreach>
    </select>

    <select id="listByOwner" resultMap="rdpDataSourceDO">
        SELECT
            <include refid="rdpDataSource"/>
        FROM
            dm_ds
        WHERE
            uid = #{ownerUid}
    </select>

    <select id="listByClusterId" resultMap="rdpDataSourceDO">
        SELECT
            <include refid="rdpDataSource"/>
        FROM
            dm_ds
        WHERE
            bind_cluster_id = #{clusterId}
    </select>

    <select id="queryByDataSourceId" resultMap="rdpDataSourceDO">
        SELECT
            <include refid="rdpDataSource"/>
        FROM
            dm_ds
        WHERE
            id = #{dataSourceId}
    </select>

    <select id="listByDataSourceIds" resultMap="rdpDataSourceDO">
        SELECT
            <include refid="rdpDataSource"/>
        FROM
            dm_ds
        WHERE
            id IN <foreach collection="dataSourceIds" item="item" separator="," open="(" close=")">#{item}</foreach>
    </select>

    <select id="listByIdsAndType" resultMap="rdpDataSourceDO">
        SELECT
            <include refid="rdpDataSource"/>
        FROM
            dm_ds
        WHERE
            life_cycle_state != 'DELETED' AND
            id IN <foreach collection="ids" item="item" separator="," open="(" close=")">#{item}</foreach> AND
            data_source_type = #{dataSourceType,javaType=com.clougence.clouddm.base.metadata.ds.DataSourceType}
        ORDER BY gmt_create DESC
    </select>

    <select id="listByCondition" resultMap="rdpDataSourceDO" parameterType="com.clougence.clouddm.platform.dal.model.datasource.ArgDsQueryParamObj">
        SELECT
            <include refid="rdpDataSource"/>
        FROM
            dm_ds
        WHERE
            life_cycle_state != 'DELETED'
            <if test="dataSourceType != null">
                AND data_source_type = #{dataSourceType,javaType=com.clougence.clouddm.base.metadata.ds.DataSourceType}
            </if>
            <if test="lifeCycleState != null">
                AND life_cycle_state = #{lifeCycleState,javaType=com.clougence.clouddm.platform.dal.model.LifeCycleState}
            </if>
            <if test="dataSourceIds != null and dataSourceIds.size > 0">
                AND id IN <foreach collection="dataSourceIds" item="item" separator="," open="(" close=")">#{item}</foreach>
            </if>
            <if test="dataSourceDescLike != null">
                AND instance_desc LIKE concat('%',#{dataSourceDescLike},'%')
            </if>
            <if test="dsHostLike != null">
                AND host  LIKE concat('%',#{dsHostLike},'%')
            </if>
            <if test="instanceIdLike != null">
                AND instance_id  LIKE concat('%',#{instanceIdLike},'%')
            </if>
        ORDER BY gmt_create DESC
    </select>

    <select id="listDataSourceByHost" resultMap="rdpDataSourceDO">
        SELECT
            <include refid="rdpDataSource"/>
        FROM
            dm_ds
        WHERE
            life_cycle_state != 'DELETED' AND
            host = #{host} AND
            uid = #{uid}
        ORDER BY gmt_create DESC
    </select>

    <select id="listByDsEnvId" resultMap="rdpDataSourceDO">
        SELECT
            <include refid="rdpDataSource"/>
        FROM
            dm_ds
        WHERE
            life_cycle_state != 'DELETED' AND
            ds_env_id = #{dsEnvId}
    </select>

<!--    <select id="listUserDsByDefaultHost" resultMap="rdpDataSourceDO">-->
<!--        SELECT-->
<!--            <include refid="rdpDataSource"/>-->
<!--        FROM-->
<!--            dm_ds-->
<!--        WHERE-->
<!--            life_cycle_state != 'DELETED' AND-->
<!--            host = #{defaultHost} AND-->
<!--            uid = #{uid}-->
<!--    </select>-->

    <select id="getByInstanceId" resultMap="rdpDataSourceDO">
        SELECT
            <include refid="rdpDataSource"/>
        FROM
            dm_ds
        WHERE
            life_cycle_state != 'DELETED' AND
            instance_id = #{instanceId}
        ORDER BY gmt_create DESC
    </select>

    <select id="queryOneByUid" resultMap="rdpDataSourceDO">
        SELECT
            <include refid="rdpDataSource"/>
        FROM
            dm_ds
        WHERE
            uid = #{uid}
        limit 1
    </select>

    <select id="queryCurrentDsTypes" resultType="com.clougence.clouddm.base.metadata.ds.DataSourceType">
        select data_source_type
        from dm_ds
    </select>

    <update id="cleanDataSourceAccount">
        UPDATE
            dm_ds
        SET access_key = null,
            secret_key = null
        WHERE id = #{id}
    </update>

    <update id="updateSecurityInfo">
        UPDATE
            dm_ds
        SET access_key   = #{accessKey},
            secret_key   = #{secretKey},
            security_type=#{securityType}
        WHERE id = #{id}
    </update>

    <update id="updateVersionByInstanceId">
        UPDATE
            dm_ds
        SET
            version = #{version}
        WHERE
            id = #{id}
    </update>

    <update id="updateDescByInstanceId">
        UPDATE
            dm_ds
        SET
            instance_desc = #{instanceDesc}
        WHERE
            id = #{id}
    </update>

    <update id="updateLifeCycleStateById">
        UPDATE
            dm_ds
        SET
            life_cycle_state = #{lifeCycleState,javaType=com.clougence.clouddm.platform.dal.model.LifeCycleState}
        WHERE
            id = #{id}
    </update>

    <update id="updateEnvIdByInstanceId">
        UPDATE
            dm_ds
        SET
            ds_env_id = #{dsEnvId}
        WHERE
            id = #{id}
    </update>

    <update id="updateClusterIdByInstanceId">
        UPDATE
            dm_ds
        SET
            bind_cluster_id = #{bindClusterId}
        WHERE
            id = #{id}
    </update>

    <update id="updateStatusByDataSourceId">
        UPDATE
            dm_ds
        SET
            status = #{status}
        WHERE
            id = #{dataSourceId}
    </update>

    <update id="updateInstanceIdByDataSourceId">
        UPDATE
            dm_ds
        SET
            instance_id = #{instanceId}
        WHERE
            id = #{id}
    </update>

    <update id="updateUid">
        UPDATE
            dm_ds
        SET
            uid = #{dstUid}
        WHERE
            uid = #{srcUid}
    </update>
</mapper>
