<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clougence.clouddm.platform.dal.mapper.gitops.DmGitOpsScmMapper">
    <resultMap id="dmGitOpsScmDO" type="com.clougence.clouddm.platform.dal.model.gitops.DmGitOpsScmDO">
        <result column="id" property="id"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="owner_uid" property="ownerUid"/>
        <result column="scm_type" property="scmType"
                javaType="com.clougence.clouddm.platform.dal.model.gitops.ScmType"/>
        <result column="scm_display" property="scmDisplay"/>
        <result column="scm_service_url" property="scmServiceUrl"/>
        <result column="scm_access_token" property="scmAccessToken"/>
    </resultMap>
    <sql id="dmGitOpsScmColumns">
        id
        ,
        gmt_create,
        gmt_modified,
        owner_uid,
        scm_type,
        scm_display,
        scm_service_url,
        scm_access_token
    </sql>
    <select id="queryListByOwner" resultMap="dmGitOpsScmDO">
        select
        <include refid="dmGitOpsScmColumns"/>
        from dm_git_ops_scm
        where owner_uid = #{ownerUid}
    </select>
    <select id="queryListByOwnerAndIds" resultMap="dmGitOpsScmDO">
        select
        <include refid="dmGitOpsScmColumns"/>
        from dm_git_ops_scm
        where owner_uid = #{ownerUid} and
        id in
        <foreach collection="scmIds" item="item" separator="," open="(" close=")">#{item}</foreach>
    </select>
    <select id="queryByOwnerAndId" resultMap="dmGitOpsScmDO">
        select
        <include refid="dmGitOpsScmColumns"/>
        from dm_git_ops_scm
        where owner_uid = #{ownerUid} and id = #{scmId}
        limit 1
    </select>
    <delete id="deleteByOwnerAndId">
        delete
        from dm_git_ops_scm
        where owner_uid = #{ownerUid}
          and id = #{scmId}
    </delete>
    <update id="updateDisplayByOwnerAndId">
        update dm_git_ops_scm
        set scm_display  = #{newData},
            gmt_modified = now()
        where owner_uid = #{ownerUid}
          and id = #{scmId}
    </update>
    <update id="updateTokenByOwnerAndId">
        update dm_git_ops_scm
        set scm_access_token = #{newData},
            gmt_modified     = now()
        where owner_uid = #{ownerUid}
          and id = #{scmId}
    </update>
    <update id="updateUrlByOwnerAndId">
        update dm_git_ops_scm
        set scm_service_url = #{newData},
            gmt_modified    = now()
        where owner_uid = #{ownerUid}
          and id = #{scmId}
    </update>
</mapper>
